//- AUTOR:
//- Nombre: Andres Felipe Franco Tellez
//- Codigo: 20221978031
//- Repositorio: https://github.com/ItsFranco666/Proyecto2_CRUD_Node_MongoDB.git

extends layout

block content
  // Mensajes de error
  h1= message
  h2= error.status
  pre #{error.stack}
