//- AUTOR:
//- Nombre: Andres Felipe Franco Tellez
//- Codigo: 20221978031
//- Repositorio: https://github.com/ItsFranco666/Proyecto2_CRUD_Node_MongoDB.git

extends ../layout 

block content
	// Contenedor de la tabla con margen
	.table-container
		// Clase table
		table.table
			// Encabezado de la tabla
			thead
				tr
					th(scope='col') ID
					th(scope='col') COLOR
					th(scope='col') MODELO
					th(scope='col') UBICACIÓN
					th(scope='col') ACCIÓN

			// Cuerpo de la tabla con los datos de las bicicletas
			tbody
				// Lista de bicicletas que se mandan desde el controlador 'bicicleta'
				each bici in bicis
					tr
						td(scope='row')= bici.id
						td= bici.color
						td= bici.modelo
						td= bici.ubicacion
						td
							form.inline(method='post' action='bicicletas/' + bici.id + '/delete')
								input(type='hidden' name='id' value= bici.id)
								a#button.btn(href='bicicletas/' + bici.id + '/update') Editar
								| 
								button.btn(type='submit' name='submit_param' value='submit_value') Eliminar 
	
	// Boton para ir a la creacion de una nueva bicicleta
	form(action='/bicicletas/create' method='get')
		button.btn(type='submit') Nueva Bicicleta
